<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>List Kelas</h3>
              </div>

              {{!-- <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div> --}}
            </div>
            <div class="clearfix"></div>
            <a class="btn btn-raised btn-info btn-add" href="/users/add-kelas">Tambah Kelas</a>

            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>List Kelas</h2>

                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Kelas</th>                         
                        </tr>
                      </thead>
                      <tbody>
                  {{#each data}}
                    <tr>
                        <td>
                          {{tambahSatu @index}}
                        </td>
                        <td>
                            {{this.kelas}}
                        </td>                     
            
                        <td id="btn-edit" class="tengah text-center"> <a class="btn btn-raised btn-info" href="/users/list-pertemuan/{{this.kelas}}">Informasi Pertemuan</a></td>
                        
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div> <!-- bates atas -->
					
						
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>